body {
  background-color: black;
  padding-top: 60px;
  text-align: center; }

.button {
  font-size: 15px;
  color: #FFFFFF;
  letter-spacing: 2px;
  text-align: center;
  line-height: 36px;
  min-height: 36px;
  opacity: 1;
  transform: skewX(-8deg);
  display: inline-block;
  margin: 0 auto;
  padding: 0 15px;
  border: 2px solid #FFFFFF;
  text-decoration: none;
  position: relative;
  width: 200px; }
  .button .b-title {
    transform: skewX(8deg);
    display: block;
    position: relative;
    z-index: 2;
    transition: color 0.3s linear;
    transition-delay: 0.25s; }
  .button .shadow {
    display: block;
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: 0px, 0px, 40px #FFFFFF;
    opacity: 0;
    transition: opacity 0.3s linear; }
  .button .wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    white-space: nowrap;
    overflow: hidden; }
  .button .bg {
    width: 75%;
    height: 100%;
    background-color: #FFFFFF;
    position: absolute;
    left: -20%;
    top: 0;
    transform: skewX(-32deg) translateY(-100%);
    transition: transform 0.25s cubic-bezier(0.19, 1, 0.22, 1); }
    .button .bg:last-child {
      left: auto;
      right: -20%;
      transform: skewX(-32deg) translateY(100%); }
  .button:hover .bg {
    transform: translateY(0%); }
  .button:hover .b-title {
    color: #000;
    transition-delay: none; }
  .button:hover .shadow {
    opacity: 1; }
  .button.is-gold {
    color: #FFDF00;
    border-color: #FFDF00; }
    .button.is-gold .shadow {
      box-shadow: 0px 0px 40px #FFDF00; }
    .button.is-gold .bg {
      background-color: #FFDF00; }
  .button.is-silver {
    color: #c0c0c0;
    border-color: #c0c0c0; }
    .button.is-silver .shadow {
      box-shadow: 0px 0px 40px #c0c0c0; }
    .button.is-silver .bg {
      background-color: #c0c0c0; }
  .button.is-horizontal .bg {
    width: 120%; }
  .button.is-horizontal:hover .bg:first-child {
    transform: translateY(50%); }
  .button.is-horizontal:hover .bg:last-child {
    transform: translateY(-50%); }
  .button.is-vertical .bg {
    top: 0;
    transform: skewX(-8deg) translateY(0) translateX(-80%); }
    .button.is-vertical .bg:last-child {
      transform: translateX(80%); }
  .button.is-vertical:hover .bg {
    transform: translateX(0); }
